/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow-x:hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Nunito Sans", sans-serif;
	color: #8f8fa8;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title h2 {
	color: #ffffff;
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 18px;
	text-transform: uppercase;
}

.section-title p {
	color: #ffffff;
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	padding: 0 12px;
	color: #ffffff;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	width: 200px;
	height: 46px;
	border-left: 2px solid #e16521;
	border-right: 2px solid #e4381C;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e4381C), to(#e16521)), -webkit-gradient(linear, left top, right top, from(#e4381C), color-stop(0%, #e16521));
	background-image: -o-linear-gradient(left, #e4381C 100%, #e16521 100%), -o-linear-gradient(left, #e4381C 0%, #e16521 0%);
	background-image: linear-gradient(to right, #e4381C 100%, #e16521 100%), linear-gradient(to right, #e4381C 0%, #e16521 0%);
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
	transition-duration: 1000ms;
	line-height: 45px;
	position: relative;
	z-index: 1;
	border-radius: 4px;
}

.primary-btn:after {
	color: #fff;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	background: #e16521;
	background: -webkit-gradient(linear, left top, right top, from(#e16521), to(#e4381C));
	background: -o-linear-gradient(left, #e16521, #e4381C);
	background: linear-gradient(to right, #e16521, #e4381C);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 2px;
	opacity: 0;
}

.site-btn {
	display: inline-block;
	font-size: 12px;
	font-family: "Oswald", sans-serif;
	font-weight: 600;
	padding: 0 12px;
	color: #000000;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	background: none;
	width: 127px;
	height: 40px;
	border-left: 2px solid #e16521;
	border-right: 2px solid #e4381C;
	border-top: none;
	border-bottom: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e16521), color-stop(0%, #e4381C)), -webkit-gradient(linear, left top, right top, from(#e16521), color-stop(0%, #e4381C));
	background-image: -o-linear-gradient(left, #e16521 100%, #e4381C 0%), -o-linear-gradient(left, #e16521 0%, #e4381C 0%);
	background-image: linear-gradient(to right, #e16521 100%, #e4381C 0%), linear-gradient(to right, #e16521 0%, #e4381C 0%);
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
	transition-duration: 1000ms;
	line-height: 38px;
	position: relative;
	z-index: 1;
	border-radius: 4px;
}

.site-btn:after {
	color: #fff;
	-webkit-transition-duration: 500ms;
	-o-transition-duration: 500ms;
	transition-duration: 500ms;
	background: #e16521;
	background: -webkit-gradient(linear, left top, right top, from(#e16521), to(#e4381C));
	background: -o-linear-gradient(left, #e16521, #e4381C);
	background: linear-gradient(to right, #e16521, #e4381C);
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	border-radius: 2px;
	opacity: 0;
}

/*---------------------
  Hero Section
-----------------------*/

.hero-items .owl-item.active .single-hero-item .hero-text h2,
.hero-items .owl-item.active .single-hero-item .hero-text h1,
.hero-items .owl-item.active .single-hero-item .hero-text .primary-btn {
	top: 0;
	opacity: 1;
}

.hero-items .owl-item.active .single-hero-item .hero-text h2 {
	-webkit-transition: all 0.2s ease 0.2s;
	-o-transition: all 0.2s ease 0.2s;
	transition: all 0.2s ease 0.2s;
}

.hero-items .owl-item.active .single-hero-item .hero-text h1 {
	-webkit-transition: all 0.4s ease 0.4s;
	-o-transition: all 0.4s ease 0.4s;
	transition: all 0.4s ease 0.4s;
}

.hero-items .owl-item.active .single-hero-item .hero-text .primary-btn {
	-webkit-transition: all 0.6s ease 0.6s;
	-o-transition: all 0.6s ease 0.6s;
	transition: all 0.6s ease 0.6s;
}

.hero-items .owl-nav button[type=button] {
	position: absolute;
	left: 75px;
	top: 50%;
	-webkit-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	transform: translateY(-30px);
	line-height: 30px;
	font-size: 60px;
	color: #ffffff;
}

.hero-items .owl-nav button[type=button].owl-next {
	left: auto;
	right: 75px;
}

.hero-items .owl-dots {
	position: absolute;
	left: 0;
	bottom: 23px;
	width: 100%;
	text-align: center;
}

.hero-items .owl-dots button.owl-dot {
	height: 14px;
	width: 14px;
	background: #ffffff;
	border-radius: 50%;
	margin-right: 15px;
	position: relative;
}

.hero-items .owl-dots button.owl-dot.active:after {
	opacity: 1;
}

.hero-items .owl-dots button.owl-dot:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 20px;
	width: 20px;
	border: 1px solid #ffffff;
	content: "";
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.hero-items .owl-dots button.owl-dot:last-child {
	margin-right: 0;
}

.single-hero-item {
	height: 950px;
	padding-top: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.single-hero-item .hero-text {
	text-align: center;
}

.single-hero-item .hero-text h2 {
	color: #ffffff;
	text-transform: uppercase;
	font-family: "Nunito Sans", sans-serif;
	font-size: 60px;
	margin-bottom: 4px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.single-hero-item .hero-text h1 {
	color: #ffffff;
	font-size: 90px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 46px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.single-hero-item .hero-text .primary-btn {
	position: relative;
	top: 50px;
	opacity: 0;
}

.single-hero-item .hero-text .primary-btn:hover:after {
	opacity: 1;
}

/*---------------------
  Feature Item
-----------------------*/

.feature-item {
	text-align: center;
	height: 380px;
	margin-left: -15px;
	margin-right: -15px;
	padding: 100px 15px 15px;
	position: relative;
}

.feature-item:hover:before {
	opacity: 1;
}

.feature-item:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: #e4381C;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.feature-item h3 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 14px;
}

.feature-item p {
	color: #ffffff;
	margin-bottom: 22px;
}

.feature-item .primary-btn.f-btn:hover:after {
	opacity: 1;
}
/*---------------------
  Classes Time Table Section
-----------------------*/

.classtime-section {
	background: #151515;
	padding-top: 90px;
}

.classtime-section .section-title {
	margin-bottom: 48px;
}

.timetable-controls {
	text-align: center;
	margin-bottom: 40px;
}

.timetable-controls ul li {
	list-style: none;
	font-size: 16px;
	font-weight: 600;
	font-family: "Oswald", sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	display: inline-block;
	margin-right: 80px;
	cursor: pointer;
	position: relative;
}

.timetable-controls ul li.active {
	color: #e4381C;
}

.timetable-controls ul li.active:after {
	opacity: 1;
}

.timetable-controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -7px;
	width: 100%;
	height: 2px;
	background: #e4381C;
	content: "";
	opacity: 0;
}

.timetable-controls ul li:last-child {
	margin-right: 0;
}

.classtime-table .ts-item {
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.classtime-table.filtering .ts-item {
	opacity: 0;
}

.classtime-table.filtering .ts-item.show {
	opacity: 1;
}

.classtime-table table {
	width: 100%;
	border: 1px solid #1f1f1f;
	background: #212121;
	text-align: center;
}

.classtime-table table thead tr th {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	font-family: "Oswald", sans-serif;
	padding: 25px 5px;
}

.classtime-table table tbody {
	border-top: 1px solid #171717;
}

.classtime-table table tbody tr td {
	text-align: center;
	border-right: 1px solid #171717;
	border-bottom: 1px solid #171717;
	width: 146px;
	padding: 26px 10px 28px;
	position: relative;
	z-index: 1;
}

.classtime-table table tbody tr td:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: -webkit-gradient(linear, left top, right top, from(#e16521), to(#e4381C));
	background: -o-linear-gradient(left, #e16521, #e4381C);
	background: linear-gradient(to right, #e16521, #e4381C);
	content: "";
	opacity: 0;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.classtime-table table tbody tr td.hover-bg:hover:after {
	opacity: 1;
}

.classtime-table table tbody tr td.hover-bg:hover h6 {
	color: #ffffff;
}

.classtime-table table tbody tr td.workout-time {
	font-size: 16px;
	color: #ffffff;
	font-weight: 500;
	font-family: "Oswald", sans-serif;
}

.classtime-table table tbody tr td span {
	font-size: 16px;
	color: #ffffff;
	display: block;
	margin-bottom: 7px;
}

.classtime-table table tbody tr td h6 {
	color: #e4381C;
	font-weight: 500;
	text-transform: uppercase;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}


/*---------------------
  Home About
-----------------------*/

.home-about {
	background: #151515;
}

.about-text {
	padding-top: 18px;
}

.about-text h2 {
	font-size: 48px;
	font-weight: 500;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 36px;
}

.about-text p.short-details {
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	line-height: 28px;
	margin-bottom: 20px;
}

.about-text p.long-details {
	color: #ffffff;
	margin-bottom: 40px;
}

.about-text .primary-btn.about-btn:after {
	opacity: 1;
}

.about-img img {
	min-width: 100%;
}
/*---------------------
  Classes Section
-----------------------*/

.classes-section {
	background: #151515;
}

.classes-section.schedule-page .class-title {
	padding: 0;
}

.classes-section.schedule-page .class-title .section-title {
	margin-bottom: 65px;
}

.class-title {
	padding-top: 60px;
	padding-bottom: 62px;
}

.class-title .section-title h2 {
	font-weight: 500;
}

.classes-item {
	height: 480px;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 60px;
	padding-top: 162px;
	padding-right: 35px;
}

.classes-item:hover:before {
	opacity: 1;
}

.classes-item:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background: #e4381C;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.classes-item h4 {
	font-weight: 600;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.classes-item p {
	color: #ffffff;
	margin-bottom: 38px;
}

.classes-item .primary-btn.class-btn {
	background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #e16521), color-stop(0%, #e4381C)), -webkit-gradient(linear, left top, right top, color-stop(100%, #e4381C), color-stop(0%, #e16521));
	background-image: -o-linear-gradient(left, #e16521 100%, #e4381C 0%), -o-linear-gradient(left, #e4381C 100%, #e16521 0%);
	background-image: linear-gradient(to right, #e16521 100%, #e4381C 0%), linear-gradient(to right, #e4381C 100%, #e16521 0%);
}

.classes-item .primary-btn.class-btn:hover:after {
	opacity: 1;
}

/*---------------------
  AboutUs Section
-----------------------*/

.aboutus-section {
	background: #151515;
	padding-top: 90px;
	padding-bottom: 80px;
}

.aboutus-page-text .section-title {
	text-align: center;
	margin-bottom: 45px;
}

.aboutus-page-text img {
	margin-bottom: 54px;
}

.aboutus-page-text .about-us h4 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.aboutus-page-text .about-us p {
	color: #ffffff;
	line-height: 26px;
}

.aboutus-page-text .about-quality h4 {
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.aboutus-page-text .about-quality p {
	color: #ffffff;
	line-height: 22px;
}

.aboutus-page-text .about-quality ul li {
	list-style: none;
	font-size: 16px;
	color: #ffffff;
	line-height: 26px;
	margin-bottom: 10px;
}

.aboutus-page-text .about-quality ul li i {
	color: #e4381C;
	display: inline-block;
	margin-right: 9px;
}
/*---------------------------- Other Pages Styles ------------------------------*/

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}

/* Medium Device : 1200px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-section {
		padding-left: 0;
		padding-right: 0;
	}
	.top-social a {
		margin-left: 15px;
	}
}

/* Tablet Device : 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding-left: 0;
		padding-right: 0;
	}
	.nav-menu {
		text-align: right;
	}
	.nav-menu .mainmenu ul li {
		margin-right: 25px;
	}
	.nav-menu .mainmenu ul li .dropdown {
		left: auto;
		right: 0;
	}
	.top-social {
		display: none;
	}
	.hero-items .owl-nav button[type=button] {
		left: 15px;
	}
	.hero-items .owl-nav button[type=button].owl-next {
		right: 15px;
	}
	.about-text {
		margin-bottom: 30px;
	}
	.timetable-controls ul li {
		margin-right: 50px;
	}
	.cta-section .cta-text {
		float: none;
	}
	.cta-section .primary-btn.cta-btn {
		float: none;
	}
	.blog-single-sidebar {
		padding-top: 30px;
	}
	.recent-item {
		margin-bottom: 30px;
	}
}

/* Large Mobile : 480px */

@media only screen and (max-width: 767px) {
	.header-section {
		padding-left: 0;
		padding-right: 0;
	}
	.nav-menu .mainmenu {
		display: none;
	}
	.top-social {
		display: none;
	}
	.slicknav_menu {
		display: block;
		background: transparent;
		padding: 0;
	}
	.slicknav_btn {
		margin: 0;
		border-radius: 0;
	}
	.header-normal .slicknav_btn {
		margin: 37px 0;
	}
	.slicknav_nav {
		background: #222;
	}
	.slicknav_nav ul {
		margin: 10px 15px;
	}
	.slicknav_nav a {
		padding: 8px 10px;
	}
	.slicknav_nav a:hover,
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #e4381C;
		color: #ffffff;
	}
	.hero-items .owl-nav button[type=button] {
		left: 5px;
	}
	.hero-items .owl-nav button[type=button].owl-next {
		left: auto;
		right: 5px;
	}
	.single-hero-item {
		height: 680px;
	}
	.single-hero-item .hero-text h1 {
		font-size: 70px;
	}
	.single-hero-item .hero-text h2 {
		font-size: 50px;
	}
	.about-text {
		margin-bottom: 30px;
	}
	.classtime-table {
		overflow-x: auto;
	}
	.timetable-controls ul li {
		margin-right: 12px;
	}
	.cta-section .cta-text {
		float: none;
	}
	.cta-section .primary-btn.cta-btn {
		float: none;
	}
	.blog-option .blog-pagination {
		float: none;
		margin-bottom: 20px;
	}
	.blog-option .blog-option-right {
		float: none;
	}
	.bs-hero-text ul li {
		margin-right: 45px;
	}
	.bs-hero-text ul li:after {
		right: -27px;
	}
	.blog-single-sidebar {
		padding-top: 30px;
	}
	.recent-item {
		margin-bottom: 30px;
	}
	.map-contact-detalis {
		right: 30px;
	}
}

/* Small Mobile : 320px */

@media only screen and (max-width: 479px) {
	.section-title h2,
	.breadcrumb-text h2 {
		font-size: 30px;
	}
	.slicknav_menu {
		text-align: center;
	}
	.slicknav_nav {
		text-align: left;
	}
	.logo {
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.slicknav_btn {
		float: none;
		display: inline-block;
	}
	.slicknav_nav ul {
		margin: 10px 0 10px 0;
	}
	.slicknav_nav .slicknav_row,
	.slicknav_nav a {
		margin: 0;
	}
	.header-normal .slicknav_btn {
		margin: 0 0 10px 0;
	}
	.header-section.header-normal .logo {
		padding: 18px 0 5px;
	}
	.single-hero-item .hero-text h1 {
		font-size: 50px;
	}
	.single-hero-item .hero-text h2 {
		font-size: 40px;
	}
	.hero-items .owl-nav button[type=button] {
		left: -15px;
	}
	.hero-items .owl-nav button[type=button].owl-next {
		right: 15px;
	}
	.map-contact-detalis {
		width: 319px;
		right: 0;
	}
	.video-section .video-text {
		padding-top: 100px;
	}
	.timetable-controls ul li {
		margin-right: 5px;
		margin-bottom: 12px;
	}
	.gallery-controls ul li {
		margin-right: 8px;
	}
	.blog-single-text .blog-tag-share .tags {
		float: none;
		margin-bottom: 10px;
	}
	.blog-single-text .blog-tag-share .social-share {
		float: none;
	}
	.contact-map .map-hover {
		left: 15%;
	}
}